.main-slider {
  padding-top: 70px;
  padding-bottom: 115px;
  background: url("../../img/bg-main-slider.png") no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  position: relative;

  @media screen and (max-width: 990px) {
    background: none;
    padding-left: 50px;
    margin: 0 auto;
  }

  @media screen and (max-width: 720px) {
    padding-left: 25px;
  }

  @media screen and (max-width: 650px) {
    padding-left: 0;
  }

  .owl-prev {
    position: absolute;
    left: -45px;
    top: 172px;
    background: url("../../img/bg-main-slider-left.png") no-repeat;
    width: 85px;
    height: 62px;

    @media screen and (max-width: 1260px) {
      left: 0;
    }

    @media screen and (max-width: 990px) {
      left: 0;
    }

    @media screen and (max-width: 720px) {
      display: none !important;
    }
  }

  .owl-next {
    position: absolute;
    right: -45px;
    top: 172px;
    background: url("../../img/bg-main-slider-right.png") no-repeat;
    width: 85px;
    height: 62px;

    @media screen and (max-width: 720px) {
      display: none !important;
    }

    @media screen and (max-width: 990px) {
      right: 0;
    }

    @media screen and (max-width: 1260px) {
      right: 0;
    }

  }

  &:after {
    position: absolute;
    content: '';
    width: 218px;
    height: 204px;
    background: url("../../img/bg-candle.png") no-repeat;
    bottom: -150px;
    left: 135px;
  }
}

.main-slider-item {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  //background: rgba(69, 75, 76, 0.8);

  .image {
    text-align: center;
    display: flex;
    justify-content: center;

    img {
      width: auto;
      border-radius: 5px;
      border: 1px solid #d3e6d7;
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.main-slider-text {
  position: absolute;
  bottom: -149px;
  width: 622px;
  padding: 20px 50px;
  border: 1px solid white;
  border-radius: 5px;
  z-index: 99;
  background: rgba(95, 95, 95, 0.9);
  color: white;
  font-family: @PtRegular;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  font-size: 18px;
  border-top: none;
  border-top-left-radius:0;
  border-top-right-radius: 0;

  > .title {
    text-align: center;
    font-size: 25px;
  }

  a {
    color: #00bdff;
  }

  p {
    font-size:inherit;
  }
}